absl-py
altgraph
astunparse
attrs
auto-py-to-exe
bcrypt
beautifulsoup4
bidict
blinker
bottle
bottle-websocket
Brotli
certifi
cffi
charset-normalizer
click
cmake
colorama
comtypes
contourpy
cryptography
cx_Freeze
cx_Logging
cycler
decord
deepface
Eel
filelock
fire
Flask
Flask-Cors
Flask-Login
Flask-Mail
Flask-MySQLdb
Flask-SocketIO
Flask-WTF
flatbuffers
fonttools
fsspec
future
gast
gdown
gevent
gevent-websocket
google-pasta
greenlet
grpcio
gunicorn
h11
h5py
huggingface-hub
idna
imutils
intel-openmp
itsdangerous
jax
jaxlib
Jinja2
joblib
jsonify
keras
kiwisolver
libclang
lief
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
mkl
ml-dtypes
MouseInfo
mpmath
mtcnn
mutagen
mysql
mysql-connector
mysql-connector-python
mysqlclient
namex
networkx
Nuitka
numpy
opencv-contrib-python
opencv-python
opencv-python-headless
opt-einsum
optree
ordered-set
packaging
pandas
pefile
pillow
plyer
protobuf
pycparser
pycryptodomex
pygame
PyGetWindow
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
PyMySQL
pyparsing
pyperclip
PyRect
PyScreeze
PySocks
python-dateutil==2.9.0.post0
python-dotenv
python-engineio
python-http-client
python-socketio
pyttsx3
pytube
pytweening
pytz
PyYAML
regex
requests
retina-face
rich
safetensors
scikit-learn
scipy
seaborn
sendgrid
setuptools
simple-websocket
six
sounddevice
soupsieve
SpeechRecognition
starkbank-ecdsa
sympy
tbb
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
termcolor
tf_keras
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
utils
websockets
Werkzeug
wheel
whichcraft
wrapt
wsproto
WTForms
yacs
yt-dlp
zope.event
zope.interface==6.4.post2
zstandard
