<!DOCTYPE html>
<html>
<head>
    <title>Attendance Records</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Attendance Records</h1>
    </header>
    <div class="container table-container">
        <h2>Attendance Details</h2>
        {% for date, subjects in grouped_records.items() %}
            <h3>Date: {{ date }}</h3>
            {% for subject, records in subjects.items() %}
                <h4>Subject: {{ subject }}</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rowid, name, time in records %}
                            <tr>
                                <td>{{ name }}</td>
                                <td>{{ time }}</td>
                                <td>
                                    <form method="POST" action="{{ url_for('delete_attendance', id=rowid) }}" style="display:inline;">
                                        <button type="submit" class="btn-delete">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        {% endfor %}
        <a href="/" class="btn">Back to Home</a>
        <a href="/download" class = "btn"> Download CSV with attendance data</a>
        <a href="/add_student" class="btn">Add Student</a>
        <a href="/video_feed" class="btn">Video Feed</a>
        <a href="/set_subject" class="btn">Set Subject</a>
    </div>
    <div>
        <br>
        <br>
        <br>
    </div>
    <footer>
        <p>&copy; 2024 CV Attendance System</p>
    </footer>
</body>
</html>
