{% extends 'layout.html' %}
{% block content %}
<h1>Welcome to the Attendance System</h1>
<p>Use the navigation to manage attendance, add students, and view statistics.</p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<div class="video-container">
    <h2>Live Attendance</h2>
    <img src="{{ url_for('video_feed') }}" alt="Video Feed" class="video-feed">
</div>
{% endblock %}
